<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    
    <Appenders>
        <Console name="console">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    </Appenders>
 
    <Loggers>
        <Root level="off">
            <AppenderRef ref="console"/>
        </Root>
        <logger name="Main" additivity="false" level="off">
	        <appender-ref ref="console" />
	    </logger>
	    <logger name="SequenceLineParsers" additivity="false" level="off">
	        <appender-ref ref="console" />
	    </logger>
	    
	   
	    <logger name="FirstPageReportReader" additivity="false" level="off">
        	<appender-ref ref="console" />
	    </logger>
	    
	    <logger name="NormalReportLineParser" additivity="false" level="info">
        	<appender-ref ref="console" />
	    </logger>
	    
	    <logger name="RepeatLineParser" additivity="false" level="off">
	        <appender-ref ref="console" />
	    </logger>
    </Loggers>
</Configuration>