<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    </Properties>
 
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
 
    <Loggers>
        <Root level="error">
            <AppenderRef ref="console"/>
        </Root>
        <logger name="Main" additivity="false" level="off">
	        <appender-ref ref="console" />
	    </logger>
    </Loggers>
</Configuration>